@import "@fontsource/alfa-slab-one/latin.css";
@import "@fontsource/oswald/300.css";
@import "@fontsource/oswald/400.css";
@import "tailwindcss";

* {
  font-family: "Alfa Slab One", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to top, #1e90ff 0%, #70a1ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: contents;
}

.soundboard {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 3px;
  justify-content: center;
}

button.b {
  padding: 0 0.5em;
  font-size: min(10vmin, 72pt);
  text-transform: uppercase;
  background: #ffa502;
  border: none;
  color: #fff;
  cursor: pointer;
  will-change: transform;
  position: relative;
  border-radius: 4px;
  user-select: none;
}

button.b:hover {
  background: #fff;
  color: #ffa502;
}

button.b span {
  transition: all 0.4s ease;
}

button.z {
  padding: 0 0.5em;
  font-size: 18pt;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.boob {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  background: none;
  border: 1px solid transparent;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 0.15em;
  cursor: pointer;
}
.boob:first-of-type {
  border-radius: 0.5em 0 0 0.5em;
}
.boob:last-of-type {
  border-radius: 0 0.5em 0.5em 0;
}
.boob:only-of-type {
  border-radius: 0.5em;
}
