@import "@fontsource/alfa-slab-one/latin.css";

* {
  font-family: "Alfa Slab One", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to top, #1e90ff 0%, #70a1ff 100%);
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 3px;
  justify-content: center;
}

button {
  padding: 0 0.5em;
  font-size: min(10vmin, 72pt);
  text-transform: uppercase;
  background: #ffa502;
  border: none;
  color: #fff;
  cursor: pointer;
  will-change: transform;
  position: relative;
  border-radius: 4px;
  user-select: none;
}

button:hover {
  background: #fff;
  color: #ffa502;
}

button span {
  transition: all 0.4s ease;
}
